@import "./mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-display);
}

h1 {
  font-size: var(--font-size-fluid-3);
}

p,
ul,
ol {
  font-size: var(--font-size-fluid-1);
  line-height: var(--font-lineheight-3);
}

a {
  @include transition(color, ease, 300ms);
  color: var(--teal-5);
  text-decoration: none;
  display: inline-block;
  &:after {
    @include transition(width, 300ms, ease);
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: currentColor;
  }
  @include supports-hover {
    &:hover {
      color: var(--teal-7);
      &:after {
        width: 100%;
      }
    }
  }
}

ul {
  list-style: none;
  li {
    &:before {
      content: "\2022";
      color: var(--teal-5);
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
