:root {
  --font-family-base: "Noticia Text", serif;
  --font-family-display: "Bree Serif", serif;

  --content-max-width: 1200px;
  --content-max-width-narrow: 768px;

  --color-dark: #121212;
  --color-dark-border: #1d2022;
  --color-darker: black;
}
